<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baker Delight</title>

    <link rel="stylesheet" href="./style_home.css">
    <link rel="stylesheet" href="/components/Header/style_header.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.4.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">


</head>

<body>
    <div class="wrapper" id="wrapper">
        <div class="header" id="header">
            <div class="grid">
                <div class="header__contact">
                    <div class="header__contact--left">
                        <ul class="header__contact--list">
                            <li class="header__contact--icons">
                                <a href="" class="contact__icons">
                                    <i class="fa-solid fa-envelope"></i>
                                </a> baker@gmail.com
                            </li>
                            <li class="header__contact--icons">
                                <a href="" class="contact__icons contact__icons--phone">
                                    <i class="fa-solid fa-phone"></i>
                                </a> 0922777999
                            </li>
                        </ul>
                    </div>

                    <div class="header__contact--right">
                        <ul class="header__contact--list">
                            <li class="header__contact--icons">
                                <a href="" class="contact__icons">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li class="header__contact--icons">
                                <a href="" class="contact__icons">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li class="header__contact--icons">
                                <a href="" class="contact__icons">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__menu">
                    <div class="header__menu--left">
                        <ul class="header__menu--list">
                            <div class="header__menu--item item-wrapper">
                                <li class="header__menu--item">TRANG CHỦ</li>

                            </div>
                            <div class="header__menu--item item-wrapper">
                                <li class="header__menu--item">SẢN PHẨM</li>
                            </div>
                            <div class="header__menu--item item-wrapper">
                                <li class="header__menu--item">KHUYẾN MÃI</li>
                            </div>
                        </ul>
                    </div>
                    <div class="header__menu--logo">
                        <img class="logo" src="../../assets/img/logo.png" alt="">
                    </div>
                    <div class="header__menu--right">
                        <ul class="header__menu--list">
                            <a class="header__menu--item item-wrapper">
                                <li class="header__menu--item">GIỚI THIỆU</li>
                            </a>
                            <a class="header__menu--item item-wrapper">
                                <li class="header__menu--item">GIỎ HÀNG</li>
                            </a>
                            <a href="javascript:void(0)" class="header__menu--item item-wrapper"
                                onclick="loadContent('../../pages/Login/Login.html')">
                                <li class="header__menu--item">TÀI KHOẢN</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <div class="container">
            <div class="grid">
                <div class="grid__row app__content">
                    <div class="grid__column-2">
                        <nav class="category">
                            <h3 class="category__heading">
                                <i class="category__heading--icon fa-solid fa-list"></i> Danh mục
                            </h3>

                            <ul class="category__list">
                                <li class="category__item category__item--active">
                                    <a class="category__item--link" href="#">Bánh Kem</a>
                                </li>
                                <li class="category__item">
                                    <a class="category__item--link" href="#">Bánh Ngọt</a>
                                </li>
                                <li class="category__item">
                                    <a class="category__item--link" href="#"> Bánh choco</a>
                                </li>
                                <li class="category__item">
                                    <a class="category__item--link" href="#">Bánh matcha</a>
                                </li>
                                <li class="category__item">
                                    <a class="category__item--link" href="#">Bánh kẹo</a>
                                </li>
                            </ul>

                        </nav>

                    </div>
                    <div class="grid__column-10">
                        <div class="home-filter">
                            <span class="home-filter__label">Sắp xếp theo</span>
                            <button class="home-filter__btn btn">Phổ biến</button>
                            <button class="home-filter__btn btn">Mới nhất</button>
                            <button class="home-filter__btn btn">Bán chạy</button>

                            <div class="select-input">
                                <span class="select-input__label">Giá</span>
                                <i class="select-input__icon fas fa-angle-down"></i>
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a href="" class="select-input__link">Giá thấp đến cao</a>

                                    <li class="select-input__item">

                                        <a href="" class="select-input__link">Giá cao đến thấp</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="home-filter__page">
                                <span class="home-filter__page-num">
                                    <span class="home-filter__page-num--current">1</span>/5
                                </span>

                                <div class="home-filter__page-control">
                                    <a href="#" class="home-filter__page-btn">
                                        <i class="home-filter__page-icon fas fa-angle-left"></i>

                                    </a>
                                    <a href="#" class="home-filter__page-btn">

                                        <i class="home-filter__page-icon fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="home-product">
                            <div class="grid__row">
                                <div class="grid__column-2">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Finbloombakery.com%2Fwp-content%2Fuploads%2F2022%2F08%2FCappuccino-Cake-FI-500x500.jpg&tbnid=BQpctZxyYYulRM&vet=12ahUKEwjIutPs2q-CAxW2UvUHHfK8AHkQMygEegQIARBY..i&imgrefurl=https%3A%2F%2Finbloombakery.com%2Fcappuccino-cake%2F&docid=PwX0hwiTUzeRJM&w=500&h=500&q=cake&ved=2ahUKEwjIutPs2q-CAxW2UvUHHfK8AHkQMygEegQIARBY);"></div>
                                        <h4 class="home-product-item__name">Bánh cupcake queen</h4>
                                        <div class="home-product-item__price">
                                            <span class="home-product-item__price--old">300.000đ</span>
                                            <span class="home-product-item__price--current">200.000đ</span>
                                        </div>
                                        <div class="home-product-item__action">
                                            <span class="home-product-item__like">
                                                <i class="far fa-heart"></i>
                                            </span>
                                            <div class="home-product-item__rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="home-product-item__origin">
                                            <span class="home-product-item__brand">Whoo</span>
                                            <div class="home-product-item__origin-name">TD</div>
                                        </div>
                                        <div class="home-product-item__favourite">
                                            <i class="fas fa-check">Yêu thích</i>
                                        </div>
                                        <div class="home-product-item__sale-off">
                                            <span class="home-product-item__sale-off-percent">10%</span>
                                            <span class="home-product-item__sale-off-label">GIẢM</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container__top">
                <img class="img__bakgor" src="img/img__bekes.jpg" alt="">
            </div>
            <div class="container__center">
                <div class="container__center--top">
                    <h3>BAKES DELIGHT</h3>
                </div>
                <div class="container__center--mid center__mid">
                    <div class="center__mid--discount99 discount99">
                        <div class="discount99__infomation">
                            <ul class="discount99__infomation__list discount99__list">
                                <li class="discount99__list--1">MÃ GIẢM GIÁ 99K</li>
                                <li class="discount99__List--2">Giảm 99k cho đơn hàng từ 500k</li>
                            </ul>
                        </div>
                        <div class="discount99__button">
                            <div class="discount99__button--copy">
                                <h3 class="copy">Sao chép</h3>
                            </div>
                            <div class="discount99__button--detail">
                                <h3 class="detail">Xem chi tiết</h3>
                            </div>

                        </div>

                    </div>
                    <div class="center__mid--discount199 discount199">
                        <div class="discount199__infomation">
                            <ul class="discount199__infomation__list discount199__list">
                                <li class="discount99__list--1">MÃ GIẢM GIÁ 199K</li>
                                <li class="discount99__List--2">Giảm 199k cho đơn hàng từ 1000k</li>
                            </ul>
                        </div>
                        <div class="discount199__button">
                            <div class="discount199__button--copy">
                                <h3 class="copy">Sao chép</h3>
                            </div>
                            <div class="discount1   99__button--detail">
                                <h3 class="detail">Xem chi tiết</h3>
                            </div>

                        </div>
                    </div>
                    <div class="center__mid--discount299 discount299">
                        <div class="discount299__infomation">
                            <ul class="discount299__infomation__list discount299__list">
                                <li class="discount299__list--1">MÃ GIẢM GIÁ 299K</li>
                                <li class="discount299__List--2">Giảm 299k cho đơn hàng từ 1500k</li>
                            </ul>
                        </div>
                        <div class="discount299__button">
                            <div class="discount299__button--copy">
                                <h3 class="copy">Sao chép</h3>
                            </div>
                            <div class="discount299__button--detail">
                                <h3 class="detail">Xem chi tiết</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center__bottom">
                    <div class="center__bottom--topic topic">
                        <h3 class="topic">
                            <a href="" class="topic__icon">
                                <i class="fa-light fa-fire"></i>
                            </a>
                            Bánh ngọt
                        </h3>
                    </div>
                    <div class="center__sp">
                        <div class="center__sp--sp1 sq1">
                            <ul class="sp1__list">
                                <li class="sp1__list--img">
                                    <img class="img__cake1" src="" alt="">
                                </li>
                                <li class="sp1__list--name">
                                    Tên bánh
                                </li>
                                <li class="sp1__list--price">
                                    1111
                                </li>
                            </ul>
                        </div>
                        <div class="center__sp--sp2 sq2">
                            <ul class="sp2__list">
                                <li class="sp2__list--img">
                                    <img class="img__cake2" src="" alt="">
                                </li>
                                <li class="sp2__list--name">
                                    Tên bánh
                                </li>
                                <li class="sp2__list--price">
                                    1111
                                </li>
                            </ul>
                        </div>
                        <div class="center__sp--sp3 sq3">
                            <ul class="sp3__list">
                                <li class="sp3__list--img">
                                    <img class="img__cake3" src="" alt="">
                                </li>
                                <li class="sp3__list--name">
                                    Tên bánh
                                </li>
                                <li class="sp3__list--price">
                                    1111
                                </li>
                            </ul>
                        </div>
                        <div class="center__sp--sp4 sq4">
                            <ul class="sp4__list">
                                <li class="sp4__list--img">
                                    <img class="img__cake4" src="" alt="">
                                </li>
                                <li class="sp4__list--name">
                                    Tên bánh
                                </li>
                                <li class="sp4__list--price">
                                    1111
                                </li>
                            </ul>
                        </div>
                        <div class="center__sp--sp5 sq5">
                            <ul class="sp5__list">
                                <li class="sp5__list--img">
                                    <img class="img__cake5" src="" alt="">
                                </li>
                                <li class="sp5__list--name">
                                    Tên bánh
                                </li>
                                <li class="sp5__list--price">
                                    1111
                                </li>
                            </ul>
                        </div>
                        <div class="center__sp--sp6 sq6">
                            <ul class="sp6__list">
                                <li class="sp6__list--img">
                                    <img class="img__cake6" src="" alt="">
                                </li>
                                <li class="sp6__list--name">
                                    Tên bánh
                                </li>
                                <li class="sp6__list--price">
                                    1111
                                </li>
                            </ul>
                        </div>
                        <div class="center__sp--sp7 sq7">
                            <ul class="sp7__list">
                                <li class="sp7__list--img">
                                    <img class="img__cake7" src="" alt="">
                                </li>
                                <li class="sp7__list--name">
                                    Tên bánh
                                </li>
                                <li class="sp7__list--price">
                                    1111
                                </li>
                            </ul>
                        </div>
                        <div class="center__sp--sp8 sq8">
                            <ul class="sp8__list">
                                <li class="sp8__list--img">
                                    <img class="img__cake8" src="" alt="">
                                </li>
                                <li class="sp8__list--name">
                                    Tên bánh
                                </li>
                                <li class="sp8__list--price">
                                    1111
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">

        </div>

    </div>
</body>

</html>