<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style_header.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.4.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-wvfXpqpZZVw5StH7GOUpJ8GhZbR7tc5bFYY5g5f5u9w5bYd73G6fZ0Cc6FdhIsb6x" crossorigin="anonymous">

</head>
<body>
    <div class="header" id="header">
        <div class="grid">
            <div class="header__contact">
                <div class="header__contact--left">
                    <ul class="header__contact--list">
                        <li class="header__contact--icons">
                            <a href="" class="contact__icons">
                                <i class="fa-solid fa-envelope"></i>
                            </a> baker@gmail.com
                        </li>
                        <li class="header__contact--icons">
                            <a href="" class="contact__icons contact__icons--phone">
                                <i class="fa-solid fa-phone"></i>
                            </a> 0922777999
                        </li>
                    </ul>
                </div>

                <div class="header__contact--right">
                    <ul class="header__contact--list">
                        <li class="header__contact--icons">
                            <a href="https://www.facebook.com/?locale=vi_VN" class="contact__icons">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li class="header__contact--icons">
                            <a href="" class="contact__icons">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li class="header__contact--icons">
                            <a href="" class="contact__icons">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav>
            <div class="header__menu">
                <div class="header__menu--left">
                    <ul class="header__menu--list">
                        <div class="header__menu--item item-wrapper">
                            <li class="header__menu--item">TRANG CHỦ</li>

                        </div>
                        <div class="header__menu--item item-wrapper item-sp ">
                            <li class="header__menu--item">SẢN PHẨM</li>
                            <div class="menu__sp">
                                <div class="menu__sp--item">BÁNH KEM</div>
                                <div class="menu__sp--item">BÁNH NGỌT</div>
                                <div class="menu__sp--item">PUDDING</div>
                                
                            </div>
                        </div>
                        <div class="header__menu--item item-wrapper">
                            <li class="header__menu--item">KHUYẾN MÃI</li>
                        </div>
                    </ul>
                </div>
                <div class="header__menu--logo">
                    <img class="logo" src="../../assets/img/logo.png" alt="">
                </div>
                <div class="header__menu--right">
                    <ul class="header__menu--list">
                        <div class="header__menu--item item-wrapper">
                            <li class="header__menu--item">GIỚI THIỆU</li>
                        </div>
                        <div class="header__menu--item item-wrapper">
                            <li class="header__menu--item">GIỎ HÀNG</li>
                        </div>

                        <div class="header__menu--item item-wrapper item-account">
                                <li class="header__menu--item">TÀI KHOẢN</li>
                            <div class="menu__account">
                                <div class="menu__account--item">ĐĂNG NHẬP</div>
                                <div class="menu__account--item">ĐĂNG KÍ</div>

                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        </div>

    </div>
    
    
</body>
</html>