<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAKES DELIGHT</title>
    <link rel="stylesheet" href="style_GT.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.4.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-wvfXpqpZZVw5StH7GOUpJ8GhZbR7tc5bFYY5g5f5u9w5bYd73G6fZ0Cc6FdhIsb6x" crossorigin="anonymous">
</head>
<body>
    <div class="haeder" id="haeder">
        <div class="grid">
            <div class="header__contact">
                <div class="header__contact--left">
                    <ul class="header__contact--list">
                        <li class="header__contact--icons">
                            <a href="" class="contact__icons">
                                <i class="fa-solid fa-envelope"></i>
                            </a> baker@gmail.com
                        </li>
                        <li class="header__contact--icons">
                            <a href="" class="contact__icons contact__icons--phone">
                                <i class="fa-solid fa-phone"></i>
                            </a> 0922777999
                        </li>
                    </ul>
                </div>

                <div class="header__contact--right">
                    <ul class="header__contact--list">
                        <li class="header__contact--icons">
                            <a href="https://www.facebook.com/?locale=vi_VN" class="contact__icons">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li class="header__contact--icons">
                            <a href="" class="contact__icons">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li class="header__contact--icons">
                            <a href="" class="contact__icons">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav>
            <div class="header__menu">
                <div class="header__menu--left">
                    <ul class="header__menu--list">
                        <div class="header__menu--item item-wrapper">
                            <li class="header__menu--item">TRANG CHỦ</li>

                        </div>
                        <div class="header__menu--item item-wrapper item-sp ">
                            <li class="header__menu--item">SẢN PHẨM</li>
                            <div class="menu__sp">
                                <div class="menu__sp--item">BÁNH KEM</div>
                                <div class="menu__sp--item">BÁNH NGỌT</div>
                                <div class="menu__sp--item">PUDDING</div>
                                
                            </div>
                        </div>
                        <div class="header__menu--item item-wrapper">
                            <li class="header__menu--item">KHUYẾN MÃI</li>
                        </div>
                    </ul>
                </div>
                <div class="header__menu--logo">
                    <img class="logo" src="../../assets/img/logo.png" alt="">
                </div>
                <div class="header__menu--right">
                    <ul class="header__menu--list">
                        <div class="header__menu--item item-wrapper">
                            <li class="header__menu--item">GIỚI THIỆU</li>
                        </div>
                        <div class="header__menu--item item-wrapper">
                            <li class="header__menu--item">GIỎ HÀNG</li>
                        </div>

                        <div class="header__menu--item item-wrapper item-account">
                                <li class="header__menu--item">TÀI KHOẢN</li>
                            <div class="menu__account">
                                <div class="menu__account--item">ĐĂNG NHẬP</div>
                                <div class="menu__account--item">ĐĂNG KÍ</div>

                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
    </div>

    <div class="container" id="container">
        <div class="container__top">
            <div class="container__top--left">
                <img class="baker" src="../../assets/img/bakes.jpg" alt="">       
            </div>
            <div class="container__top--right top__right">
                <div class="top__right--title">BAKES DELIGHT</div>
                <div class="top__right--detail">
                    Cửa hàng bánh kem BAKES DELIGHT được khai trương tại 12/18/20 Thủ Đức, TP.HCM vào ngày 18/12/2020. Hiện tại cửa hàng chỉ có duy nhất 1 cửa hàng tại TP.HCM.
                </div>
                <div class="top__right--list list">
                    <ul class="list__item">
                        <li class="list__item--icons">
                            <a href="" class="icons"><i class="fa-solid fa-envelope"></i>
                            </a>bakes@gmail.com
                        </li>
                        <li class="list__item--icons">
                            <a href="" class="icons">
                                <i class="fa-solid fa-phone"></i>
                            </a>018121820
                        </li>
                        <li class="list__item--icons">
                            <a href="" class="icons">
                                <i class="fa-solid fa-location-dot"></i>
                            </a>12/18/20 Thủ Đức, TP.HCM
                        </li>
                        <li class="list__item--icons">
                            <ul class="icons__item">
                                <li class="list__item--icon">
                                    <a href="" class="icons">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list__item--icon">
                                    <a href="" class="icons">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list__item--icon">
                                    <a href="" class="icons">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="container__center">
            <div class="container__center--left center__left">
                <div class="center__left--name">
                    CHEF DANH NGUYEN
                </div>
                <div class="center__left--inf">
                    <ul class="inf__list">
                        <li class="inf__lift--item">Sinh năm 2003</li>
                        <li class="inf__lift--item">Từng tốt nghiệp Đại học Nông Lâm với chuyên ngành đầu bếp</li>
                        <li class="inf__lift--item">Từng làm việc tại Pháp với hơn 10 năm kinh nghiệm với bánh kem</li>
                        <li class="inf__lift--item">Chuyên môn của chef là bánh kem các loại, bánh theo yêu cầu</li>
                        <li class="inf__lift--item inf__icons">
                            <ul class="icons__item ">
                                <li class="list__item--icon">
                                    <a href="https://www.facebook.com/profile.php?id=100028780882895&locale=vi_VN" class="icons">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list__item--icon">
                                    <a href="" class="icons">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list__item--icon">
                                    <a href="" class="icons">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container__center--right">
                <!-- <img class="Danh__img" src="../../assets/img/danh.jpg" alt=""> -->
            </div>
        </div>
        <div class="container__dat">
            <div class="container__dat--left">
                <!-- <img class="Dat__img" src="../../assets/img/dat.jpg" alt=""> -->
            </div>
            <div class="container__dat--right">
                <div class="dat__right--name">
                    CHEF TAN DAT
                </div>
                <div class="dat__right--inf">
                    <ul class="right__inf">
                        <li class="right__inf--item">Sinh năm 2003</li>
                        <li class="right__inf--item">Từng tốt nghiệp Đại học Nông Lâm với chuyên ngành đầu bếp</li>
                        <li class="right__inf--item">Từng làm việc tại Pháp với hơn 10 năm kinh nghiệm với bánh ngọt</li>
                        <li class="right__inf--item">Chuyên môn của chef là bánh ngọt các loại phục vụ cho các tiệc trà</li>
                        <li class="right__inf--item dat__icons">
                            <ul class="icons__item ">
                                <li class="list__item--icon">
                                    <a href="https://www.facebook.com/profile.php?id=100013974699438&locale=vi_VN" class="icons">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list__item--icon">
                                    <a href="" class="icons">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list__item--icon">
                                    <a href="" class="icons">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container__bottom">
            <div class="container__bottom--left bottom__left">
                <div class="bottom__left--name">
                    CHEF BAO KHANG
                </div>
                <div class="bottom__left--inf khang__inf">
                    <ul class="khang__inf--list khang__list">
                        <li class="khang__list--item">Sinh năm 2003</li>
                        <li class="khang__list--item">Từng tốt nghiệp Đại học Nông Lâm với chuyên ngành đầu bếp</li>
                        <li class="khang__list--item">Từng làm việc tại Pháp với hơn 10 năm kinh nghiệm với bánh ngọt</li>
                        <li class="khang__list--item">Chuyên môn của chef là bánh bông lan các loại</li>
                        <li class="khang__list--item khang__icons">
                            <ul class="icons__item ">
                                <li class="list__item--icon">
                                    <a href="https://www.facebook.com/profile.php?id=100013974699438&locale=vi_VN" class="icons">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list__item--icon">
                                    <a href="" class="icons">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list__item--icon">
                                    <a href="" class="icons">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container__bottom--right">

            </div>
        </div>
    </div>
    <div class="footer" id="footer">
        <div class="grid__full-width">
            <div class="footer__main">
                <div class="footer__main--contact footer__one">
                    <h2 class="text">
                        Baker Delight
                    </h3>
                    <ul class="footer__list ">
                        <li class="footer__one--icon"><a href="" class="contact__icons">
                                <i class="fa-solid fa-location-dot"></i>
                            </a>
                            Đại Học Nông Lâm</li>
                        <li class="footer__one--icon"><a href="" class="contact__icons">
                                <i class="fa-solid fa-phone"></i>
                            </a> 018181212</li>
                        <li class="footer_one--icon">
                            <a href="" class="contact__icons">
                                <i class="fa-solid fa-envelope"></i>
                            </a> baker@gmail.com
                        </li>
                    </ul>
                </div>

                <div class="footer__main--contact footer__two">
                    <h2 class="text">
                        Trang
                    </h2>
                    <ul class="footer__list">
                        <li class="footer__two">Trang chủ</li>
                        <li class="footer__two">Tài khoản</li>
                        <li class="footer__two">Sản phẩm</li>
                        <li class="footer__two">Khuyến mãi</li>
                        <li class="footer__two">Giới thiệu</li>
                        
                    </ul>
                </div>
                <div class="footer__main--contact footer__three">
                    <h2 class="text">
                        Theo Dõi
                    </h3>
                    <ul class="footer__list">
                        <li class="three__icon">
                            <a href="" class="contact__icons">
                                <i class="fa-brands fa-facebook"></i>
                            </a> Facebook
                        </li>
                        <li class="three__icon">
                            <a href="" class="contact__icons">
                                <i class="fa-brands fa-twitter"></i>
                            </a> Twitter
                        </li>
                        <li class="three__icon">
                            <a href="" class="contact__icons">
                                <i class="fa-brands fa-instagram"></i>
                            </a>Instagram
                        </li>
                    </ul>
                </div>
                <div class="footer__main--contact footer__four">
                    <h2 class="text">
                        Thời gian
                    </h2>
                    <ul class="footer__list">
                        <li class="footer__four">Thứ 2: 9:00 - 17:00</li>
                        <li class="footer__four">Thứ 3: 9:00 - 17:00</li>
                        <li class="footer__four">Thứ 4: 9:00 - 17:00</li>
                        <li class="footer__four">Thứ 5: 9:00 - 17:00</li>
                        <li class="footer__four">Thứ 6: 9:00 - 17:00</li>
                        <li class="footer__four">Thứ 7: 9:00 - 17:00</li>
                        <li class="footer__four">Chủ nhật: 9:00 - 14:00</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    
</body>