<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAKES DELIGHT</title>
    <link rel="stylesheet" href="sale.css">
    <link rel="stylesheet" href="style_footer.css">
    <link rel="stylesheet" href="/sale/assets/css/base.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.4.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-wvfXpqpZZVw5StH7GOUpJ8GhZbR7tc5bFYY5g5f5u9w5bYd73G6fZ0Cc6FdhIsb6x" crossorigin="anonymous">
</head>
<body>
    <div class="grid">
        <div class="header" id="header">
            <div class="grid">
                <div class="header__contact">
                    <div class="header__contact--left">
                        <ul class="header__contact--list">
                            <li class="header__contact--icons">
                                <a href="" class="contact__icons">
                                    <i class="fa-solid fa-envelope"></i>
                                </a> baker@gmail.com
                            </li>
                            <li class="header__contact--icons">
                                <a href="" class="contact__icons contact__icons--phone">
                                    <i class="fa-solid fa-phone"></i>
                                </a> 0922777999
                            </li>
                        </ul>
                    </div>
    
                    <div class="header__contact--right">
                        <ul class="header__contact--list">
                            <li class="header__contact--icons">
                                <a href="https://www.facebook.com/?locale=vi_VN" class="contact__icons">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li class="header__contact--icons">
                                <a href="" class="contact__icons">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li class="header__contact--icons">
                                <a href="" class="contact__icons">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav>
                <div class="header__menu">
                    <div class="header__menu--left">
                        <ul class="header__menu--list">
                            <div class="header__menu--item item-wrapper">
                                <li class="header__menu--item">TRANG CHỦ</li>
    
                            </div>
                            <div class="header__menu--item item-wrapper item-sp ">
                                <li class="header__menu--item">SẢN PHẨM</li>
                                <div class="menu__sp">
                                    <div class="menu__sp--item">BÁNH KEM</div>
                                    <div class="menu__sp--item">BÁNH NGỌT</div>
                                    <div class="menu__sp--item">PUDDING</div>
                                    
                                </div>
                            </div>
                            <div class="header__menu--item item-wrapper">
                                <li class="header__menu--item">KHUYẾN MÃI</li>
                            </div>
                        </ul>
                    </div>
                    <div class="header__menu--logo">
                        <img class="logo" src="../../assets/img/logo.png" alt="">
                    </div>
                    <div class="header__menu--right">
                        <ul class="header__menu--list">
                            <div class="header__menu--item item-wrapper item-wrapper_link">
                                <a class="link" href="http://127.0.0.1:5500/components/container/Introduce.html">
                                    <li class="header__menu--item item_GT">GIỚI THIỆU</li>
                                </a>
                            </div>
                            <div class="header__menu--item item-wrapper">
                                    <li class="header__menu--item">GIỎ HÀNG</li>
                            </div>
    
                            <div class="header__menu--item item-wrapper item-account">
                                    <li class="header__menu--item">TÀI KHOẢN</li>
                                <div class="menu__account">
                                    <div class="menu__account--item">ĐĂNG NHẬP</div>
                                    <div class="menu__account--item">ĐĂNG KÍ</div>
    
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
            </div>
    
        </div>

        <div class="sale__poster">
            <div class="sale__poster--top">
                <!-- <img class="logo" src="../../assets/img/sale banner.png" alt=""> -->
            </div>
            <div class="sale__GT">
                CHÀO MỪNG ĐẾN VỚI BAKES DELIGHT
            </div>
            <div class="sale_ma1">
                <div class="sale_ma1_left">
                    
                </div>
                <div class="sale_ma1_center ma1__center">
                    <div class="ma1__center--left">
                        <!-- <img class="logo_sale" src="/sale/assets/img/Giam1.png" alt=""> -->
                        <h1 class="infor-Sale">Miễn phí giao hàng</h1>
                        <h2 class="infor-Sale2">giảm tối đa 300k</h2>


                    </div>
                    <div class="ma1__center--mid">

                        <ul class="ma1__center__list center__list">
                            <li class="center__list--item item__ma">Giảm tối đa 300K</li>
                            <li class="center__list--item item__dk">Đơn Tối thiểu 0đ</li>
                            <li class="center__list--item item__hl">Có hiệu lực đến ngày 18/12</li>
                        </ul>
                    </div>
                    <div class="sale_ma1--right ma1__right">
                        <ul class="ma1__right--list right__list">
                            <div class="right__list--item">
                                <button class="btn__calm">Lấy</button>
                            </div>
                            <div class="right__list--item">
                                <button class="btn__dk">Điều kiện</button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sale_ma2">
                <div class="sale_ma1_left">
                    
                </div>
                <div class="sale_ma1_center ma1__center">
                    <div class="ma1__center--left">
                        <!-- <img class="logo_sale" src="/sale/assets/img/Giam1.png" alt=""> -->
                        <h1 class="infor-Sale">Giảm giá 20%</h1>
                        <h2 class="infor-Sale2">giảm tối đa 500k</h2>


                    </div>
                    <div class="ma1__center--mid">

                        <ul class="ma1__center__list center__list">
                            <li class="center__list--item item__ma">Giảm tối đa 500k</li>
                            <li class="center__list--item item__dk">Đơn Tối thiểu 2.000.000đ</li>
                            <li class="center__list--item item__hl">Có hiệu lực đến ngày 18/12</li>
                        </ul>
                    </div>
                    <div class="sale_ma1--right ma1__right">
                        <ul class="ma1__right--list right__list">
                            <div class="right__list--item">
                                <button class="btn__calm">Lấy</button>
                            </div>
                            <div class="right__list--item">
                                <button class="btn__dk">Điều kiện</button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sale_ma3">
                <div class="sale_ma1_left">
                    
                </div>
                <div class="sale_ma1_center ma1__center">
                    <div class="ma1__center--left">
                        <!-- <img class="logo_sale" src="/sale/assets/img/Giam1.png" alt=""> -->
                        <h1 class="infor-Sale">Giảm giá 15%</h1>
                        <h2 class="infor-Sale2">giảm tối đa 300k</h2>


                    </div>
                    <div class="ma1__center--mid">

                        <ul class="ma1__center__list center__list">
                            <li class="center__list--item item__ma">Giảm tối đa 300K</li>
                            <li class="center__list--item item__dk">Đơn Tối thiểu 1.000.000đ</li>
                            <li class="center__list--item item__hl">Có hiệu lực đến ngày 22/12</li>
                        </ul>
                    </div>
                    <div class="sale_ma1--right ma1__right">
                        <ul class="ma1__right--list right__list">
                            <div class="right__list--item">
                                <button class="btn__calm">Lấy</button>
                            </div>
                            <div class="right__list--item">
                                <button class="btn__dk">Điều kiện</button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <div class="footer" id="footer">
        <div class="grid__full-width">
            <div class="footer__main">
                <div class="footer__main--contact footer__one">
                    <h2 class="text">
                        Baker Delight
                    </h3>
                    <ul class="footer__list ">
                        <li class="footer__one--icon"><a href="" class="contact__icons">
                                <i class="fa-solid fa-location-dot"></i>
                            </a>
                            Đại Học Nông Lâm</li>
                        <li class="footer__one--icon"><a href="" class="contact__icons">
                                <i class="fa-solid fa-phone"></i>
                            </a> 018181212</li>
                        <li class="footer_one--icon">
                            <a href="" class="contact__icons">
                                <i class="fa-solid fa-envelope"></i>
                            </a> baker@gmail.com
                        </li>
                    </ul>
                </div>

                <div class="footer__main--contact footer__two">
                    <h2 class="text">
                        Trang
                    </h2>
                    <ul class="footer__list">
                        <li class="footer__two">Trang chủ</li>
                        <li class="footer__two">Tài khoản</li>
                        <li class="footer__two">Sản phẩm</li>
                        <li class="footer__two">Khuyến mãi</li>
                        <li class="footer__two">Giới thiệu</li>
                        
                    </ul>
                </div>
                <div class="footer__main--contact footer__three">
                    <h2 class="text">
                        Theo Dõi
                    </h3>
                    <ul class="footer__list">
                        <li class="three__icon">
                            <a href="" class="contact__icons">
                                <i class="fa-brands fa-facebook"></i>
                            </a> Facebook
                        </li>
                        <li class="three__icon">
                            <a href="" class="contact__icons">
                                <i class="fa-brands fa-twitter"></i>
                            </a> Twitter
                        </li>
                        <li class="three__icon">
                            <a href="" class="contact__icons">
                                <i class="fa-brands fa-instagram"></i>
                            </a>Instagram
                        </li>
                    </ul>
                </div>
                <div class="footer__main--contact footer__four">
                    <h2 class="text">
                        Thời gian
                    </h2>
                    <ul class="footer__list">
                        <li class="footer__four">Thứ 2: 9:00 - 17:00</li>
                        <li class="footer__four">Thứ 3: 9:00 - 17:00</li>
                        <li class="footer__four">Thứ 4: 9:00 - 17:00</li>
                        <li class="footer__four">Thứ 5: 9:00 - 17:00</li>
                        <li class="footer__four">Thứ 6: 9:00 - 17:00</li>
                        <li class="footer__four">Thứ 7: 9:00 - 17:00</li>
                        <li class="footer__four">Chủ nhật: 9:00 - 14:00</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    
</body>